<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        h1 {
            text-align: center;
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }

        h2 {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
    </style>
</head>

<body>
    <h1 class="alert alert-danger" role="alert">OOPS!</h1>
    <h2 class="alert alert-primary" role="alert">Page Not Found. Please check your isbn code</h2>
</body></html>
